@import "tailwindcss";

@layer components {
  #root {
    @apply w-full min-h-screen bg-white;
  }
}

body {
  overflow-x: hidden;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
